{% extends "layout.html" %}

{% block title %}
    Add cash
{% endblock %}


{% block main %}
    <form action="/add_cash" method="post">
        <div class="form-group">
            <select class="form-control" name="sell_stock">
                <option selected disabled value=""> Symbol </option>
                {% for currency, rate in exchange_rates.items() %}
                <option value={{currency}}> {{currency}} </td>
                {% endfor %}

            </select>
        </div>
        <div class="form-group">
            <input autocomplete="off" autofocus class="form-control" name="cash"placeholder="Amount" type="number" step=0.01 min="0">
        </div>
        <div>
            <button class="btn btn-primary" type="submit"> Add </button>
        </div>

    </form>
    <p></p>
    <table class="table table-striped center hh" style="width:200px">
        <tr class="table-info">
          <th scope="col"> Currency </td>
          <th scope="col"> Rate </td>
        </tr>

        {% for currency, rate in exchange_rates.items() %}
            <tr scope="row">
                <td> {{currency}} </td>
                <td> {{rate}} </td>
            </tr>
        {% endfor %}

    </table>



{% endblock %}